<!DOCTYPE html>
<html lang="fr" data-th-fragment="frag_layout(content)">
<head>
    <meta charset="UTF-8">
    <!--  la balise sera remplacée par le contenu de title -->
    <title>ENI - Enchères</title>

    <link rel="stylesheet" href="/css/general.css">
</head>
<body class="master">
<header>
    <div id="logo_titre">
    <a th:href="@{/encheres}"><img th:src="@{/image/logo_eni.png}" alt="Logo"/></a>
    <h1 id="nav-title">ENI - Enchères</h1>
    </div>

    <nav>
        <ul>
            <li><a href="/" class="nav-link">Accueil</a></li>

            <li ><a href="/encheres" class="nav-link">Enchères</a></li>

            <li th:if="${#authorization.expression('hasRole(''UTILISATEUR'')')}"><a href="/encheres/add" class="nav-link">Vendre un article</a></li>

            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/inscription" class="nav-link boutonBlanc">Inscription</a> </li>

            <li th:if="${#authorization.expression('hasRole(''UTILISATEUR'')')}"><a href="/MonProfil" class="nav-link">Mon Profil</a> </li>



            <!-- le lien s'affiche uniquement si on est déconnecté -->
            <li th:if="${!#authorization.expression('isAuthenticated()')}"
            ><a href="/login" class="nav-link boutonOrange">Connexion</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" class="nav-link">Déconnexion</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy; ENI - ENCHERE</p>
</footer>
</body>
</html>