<!DOCTYPE html>
<html lang="fr" data-th-fragment="frag_layout(content)">
<head>
    <meta charset="UTF-8">
    <!--  la balise sera remplacée par le contenu de title -->
    <title>ENI - Enchères</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/image/favicon_io/site.webmanifest">


    <link rel="stylesheet" href="/css/general.css">
</head>
<body class="master">
<header>
    <div id="logo_titre">
        <a th:href="@{/encheres}"><img th:src="@{/image/logo_carotte.png}" width="150" alt="Logo"/></a>
        <h1 class="logo">
            <span class="logo-main">ENI</span>
            <span class="logo-sep">-</span>
            <span class="logo-sub">Encheres</span>
        </h1>
    </div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="burger-menu">☰</label>
    <nav>
        <ul>
            <li><a href="/encheres" class="nav-link boutonBlanc">Enchères</a></li>

            <li><a href="/" class="nav-link boutonNoirEtBlanc">Accueil</a></li>

            <li th:if="${#authorization.expression('hasRole(''UTILISATEUR'')')}"><a href="/encheres/add"
                                                                                    class="nav-link boutonNoirEtBlanc">Vendre
                un article</a></li>

            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/inscription"
                                                                              class="nav-link boutonBlanc">Inscription</a>
            </li>

            <li th:if="${#authorization.expression('hasRole(''UTILISATEUR'')')}"><a href="/MonProfil"
                                                                                    class="nav-link boutonNoirEtBlanc">Mon
                profil</a></li>


            <!-- le lien s'affiche uniquement si on est déconnecté -->
            <li th:if="${!#authorization.expression('isAuthenticated()')}"
            ><a href="/login" class="nav-link boutonOrange">Connexion</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" class="nav-link boutonNoirEtBlanc">Déconnexion</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<div th:if="${successMessage}" class="success-message orange" style="background-color: var(--couleur-vert-vif);">
    <span class="icon"></span>
    <span th:text="${successMessage}"></span>
</div>

<div th:if="${errorMessage}" class="success-message" style="background-color: #f44336;">
    <span class="icon"></span>
    <span th:text="${errorMessage}"></span>
</div>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy; ENI - ENCHERE</p>
</footer>
</body>
</html>