:root {
    --couleur-fond-sombre: #262626;
    --couleur-blanc-secondaire: rgba(255, 255, 255, 0.85);
    --couleur-orange: rgba(255, 99, 26, 0.95);
    --couleur-orange-dark: rgba(235, 59, 26, 0.95);
    --couleur-gris-clair : #cdcdcd;
    --couleur-vert-vif : #98CE00;
}

*{
overflow: hidden;
}

body{
    background-color: var(--couleur-fond-sombre);
    color: var(--couleur-blanc-secondaire);
    font-family: "Inter Semi Bold", Arial;
}

header{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

#logo_titre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
}

.boutonOrange{
    background-color: var(--couleur-orange);
    border-radius :30px;
    padding: 20px;
    height: fit-content;
    text-decoration: none;
    font-weight: bold;
    color: var(--couleur-blanc-secondaire);
    outline: none;
    border: none;
}

.boutonOrange:hover{
    background-color: var(--couleur-orange-dark);
}

.boutonBlanc{
    background-color: var(--couleur-blanc-secondaire);
    border-radius :30px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--couleur-orange);
    outline: none;
    border: none;
}

.boutonBlanc:hover{
    background-color: var(--couleur-gris-clair);
}

h2{
    text-align: center;
}

h3{
    font-size: 20px;
}

#encheres_corps_principal{
/*    display: grid;*/
/*    grid-template-areas: "encheres_section_filtres encheres_section_filtres"*/
/*"encheres_section_liste_encheres encheres_section_liste_encheres";*/
/*    grid-template-columns: 1fr 4fr;*/
/*    gap: 25px;*/
/*    color: var(--couleur-fond-sombre);*/
/*    margin: 25px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: min(30px, 5vw);
    justify-content: center;
    margin: 30px auto;
    max-width: 90%;
    overflow: hidden;
}

#encheres_form_filtre, .encheres_article_vente{
    padding: 20px;
    border-radius :50px;
    background-color: var(--couleur-blanc-secondaire);
    aspect-ratio: 1/1;
    /*permet d'adapter la taille des images à celle de l'écran en gardant ici une hauteur égale à la largeur*/
    object-fit: cover;
    max-height: 350px;
}

/*#encheres_section_liste_encheres{*/
/*    display: grid;*/
/*    grid-template-columns: 2fr 2fr;*/
/*    gap: 25px;*/
/*}*/

.encheres_article_vente h3{
    text-align: center;
}

.encheres_article_infos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.encheres_article_infos button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    color: var(--couleur-fond-sombre);
}