:root {
    --couleur-fond-sombre: #262626;
    --couleur-blanc-secondaire: rgba(255, 255, 255, 0.85);
    --couleur-orange: rgba(255, 99, 26, 0.95);
}

*{
overflow: hidden;
}

body{
    background-color: var(--couleur-fond-sombre);
    color: var(--couleur-blanc-secondaire);
    font-family: "Inter Semi Bold", Arial;
}

header{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo_titre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
}

.boutonOrange{
    background-color: var(--couleur-orange);
    border-radius :30px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--couleur-blanc-secondaire);
}

.boutonBlanc{
    background-color: var(--couleur-blanc-secondaire);
    border-radius :30px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--couleur-orange);
}

#encheres_corps_principal{
    display: grid;
    grid-template-areas: "encheres_section_filtres encheres_section_filtres"
"encheres_section_liste_encheres encheres_section_liste_encheres";
    grid-template-columns: 1fr 3fr;
}

#encheres_section_filtres{
    padding: 20px;
    border-radius :50px;
}