<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout :: frag_layout(content=~{::main})}">
<main>
    <h2>Nouvelle vente</h2>
    <form   th:action="@{/enchere/create}"
            method="post"
            enctype="multipart/form-data"
            th:object="${article}">
        <ul class="flex-outer">
            <li>
                <label for="nomArticle">Article</label>
                <input id="nomArticle" type="text" th:field="*{nom_article}" required />
            </li>
            <li>
                <label for="idDescription">Description</label>
                <input id="idDescription" type="text" th:field="*{description}" required/>
            </li>
            <li>
                <label for="idCategorie">Catégorie</label>
                <select id="idCategorie" th:field="*{categorieArticle}" required>
                    <option value="">Choisir une catégorie</option>
                    <option th:each="item : ${categorieList}"
                            th:text="${item.libelle}"
                            th:value="${item.id_categorie}">
                    </option>
                </select>
            </li>
            <li>
                <label for="photoArticle">Photo de l'article</label>
                <input type="file" id="photoArticle" name="photoArticle"
                       accept="image/*" required/>
            </li>
            <li>
                <label for="MiseAPrix">Mise à prix</label>
                <input id="MiseAPrix" type="number" min="0" th:field="*{prix_initial}" required/>
            </li>
            <li>
                <label for="debutEnchere">Début de l'enchère</label>
                <input id="debutEnchere" type="date" th:field="*{date_debut_encheres}" required/>
            </li>
            <li>
                <label for="finEnchere">Fin de l'enchère</label>
                <input id="finEnchere" type="date" th:field="*{date_fin_encheres}" required/>
            </li>
            <ul class="retrait">
                <label>Retrait</label>
                <li>
                <label for="rue">Rue</label>
                <input id="rue" type="text" />
                </li>
                <li>
                <label for="codePostal">Code Postal</label>
                <input id="codePostal" type="text" />
                </li>
                <li>
                    <label for="ville">Ville</label>
                    <input id="ville" type="text" />
                </li>
            </ul>
            <li>
                <button type="submit">Enregistrer</button>
            </li>
            <li>
                <a  href="/" >Annuler</a>
            </li>
        </ul>
    </form>
</main>
</html>