<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout :: frag_layout(content=~{::main})}">
<main>
    <h2>Profil</h2>
    <div id="afficher_profil_conteneur">
        <div>
            <span class="afficher_profil_label">Pseudo</span><span class="afficher_profil_donnees" th:text="${utilisateur.getPseudo()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Nom</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getNom()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Prenom</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getPrenom()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Email</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getEmail()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Téléphone</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getTelephone()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Rue</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getRue()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Code postal</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getCode_postal()}"></span>
        </div>
        <div>
            <span class="afficher_profil_label">Ville</span><span class="afficher_profil_donnees"  th:text="${utilisateur.getVille()}"></span>
        </div>
    </div>
</main>
</html>