<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout :: frag_layout(content=~{::main})}">
<main>
  <h2>Vous avez remporter la vente </h2>
  <div class="enchere_remporter_acheteur_corp">
    <div class="remporter_item">
      <span class="acheteur-label">Article</span>
      <span class="acheteur-value" th:text="${article.getNom_article()}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Description</span>
      <span class="acheteur-value" th:text="${article.description}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Meilleure offre</span>
      <span class="acheteur-value" th:text="${article.prix_vente}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Mise à prix</span>
      <span class="acheteur-value" th:text="${article.prix_initial}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Retrait</span>
      <span class="acheteur-value" th:text="${article.getLieuxRetrait().getRue()}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Retrait</span>
      <span class="acheteur-value" th:text="${article.getLieuxRetrait().getCode_postal()}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Retrait</span>
      <span class="acheteur-value" th:text="${article.getLieuxRetrait().getVille()}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Vendeur</span>
      <span class="acheteur-value" th:text="${utilisateur.getPseudo()}"></span>
    </div>
    <div class="remporter_item">
      <span class="acheteur-label">Tel</span>
      <span class="acheteur-value" th:text="${utilisateur.getTelephone()}"></span>
    </div>
  </div>
</main>
</html>