<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout :: frag_layout(content=~{::main})}">
<main>
    <h2>Liste des enchères 💰</h2>
    <div id="encheres_corps_principal">
        <!--        <section id="encheres_section_filtres">-->
        <form id="encheres_form_filtre" th:action="@{/encheres/filtres}" method="post">
            <div>
                <h3>Filtres</h3>
                <div class="bloc_filtre">
                    <label for="encheres_input_recherche">Recherche :</label>
                    <input id="encheres_input_recherche" type="search" name="search" placeholder="🔍︎ le nom contient" th:value="${search}">
                    <!--                        th:value permet d'afficher le mot recherché sur la page des résultats-->
                </div>
                <div class="bloc_filtre">
                    <label for="encheres_select_categories">Catégories :</label>
                    <select id="encheres_select_categories" name="categorie">
                        <option value="0" th:selected="${id_categorie_selectionnee == 0}">Toutes les catégories</option>
                        <!--                            th:selected="condition" : l'option est sélectionnée si la condition est vérifiée-->
                        <option th:each="cat : ${categorieList}"
                                th:text="${cat.getLibelle()}"
                                th:value="${cat.getId_categorie()}"
                                th:selected="${cat.getId_categorie() == id_categorie_selectionnee}">
                        </option>
                    </select>
                </div>
            </div>
            <div id="encheres_form_mes_encheres" th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="bloc_filtre bloc_achat">
                    <input type="radio" id="encheres_radio_achats" name="encheres_radio" th:checked="${achat}" checked>
                    <label for="encheres_radio_achats">Achats</label>
                    <div class="encheres_checkbox">
                        <input type="checkbox" name="encheres_ouvertes" id="encheres_ouvertes" th:checked="${encheres_ouvertes}"> <label for="encheres_ouvertes">Enchères ouvertes</label><br>
<!--                        th:checked="condition" : la condition (booléen) est true si la case est cochée-->
                        <input type="checkbox" name="mes_encheres_cours" id="mes_encheres_cours" th:checked="${mes_encheres_cours}"> <label for="mes_encheres_cours">Mes enchères en cours</label><br>
                        <input type="checkbox" name="mes_encheres_remportees" id="mes_encheres_remportees" th:checked="${mes_encheres_remportees}"> <label for="mes_encheres_remportees">Mes enchères remportées</label><br>
                    </div>
                </div>
                <div class="bloc_filtre bloc_vente">
                    <input type="radio" id="encheres_radio_ventes" name="encheres_radio" th:checked="${vente}">
                    <label for="encheres_radio_ventes">Mes ventes</label>
                    <div class="encheres_checkbox">
                        <input type="checkbox" name="mes_ventes_cours" id="mes_ventes_cours" th:checked="${mes_ventes_cours}"> <label for="mes_ventes_cours">Mes ventes en cours</label><br>
                        <input type="checkbox" name="ventes_non_debutees" id="ventes_non_debutees" th:checked="${ventes_non_debutees}"> <label for="ventes_non_debutees">Ventes non débutées</label><br>
                        <input type="checkbox" name="ventes_terminees" id="ventes_terminees" th:checked="${ventes_terminees}"> <label for="ventes_terminees">Ventes terminées</label><br>
                    </div>
                </div>
            </div>

            <button type="submit" class="boutonOrange">RECHERCHER</button>
        </form>
        <!--        </section>-->
        <!--        <section id="encheres_section_liste_encheres">-->
        <div th:each="article : ${articleList}" class="encheres_article_vente">
            <!--<img th:src="${article.}">-->
            <h3 th:text="${article.getNom_article()}"></h3>
            <div class="encheres_article_infos">
                <div>
                    <p>Prix actuel :
                        <strong><span th:text="${article.getPrix_vente()}"></span><span> points</span></p></strong>
                    <p>Fin de l'enchère :
                        <strong><span th:text="${article.getDate_fin_encheres()}"></span></p></strong>
                    <p>Vendeur :
                        <strong><span th:text="${article.getVendeur().getPseudo()}"></span></p></strong>
                </div>
                <button type="button" class="boutonOrange">Enchérir</button>
            </div>
        </div>
        <!--        </section>-->
    </div>
</main>
</html>