<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout::frag_layout(content=~{::main})}">
<main class="page-login">
  <form th:action="@{/login}"
        method="post">
    <ul class="flex-out">
      <li>
        <label for="idUsername">Identifiant</label>
        <input class="input" id="idUsername" type="text" name="username">
      </li>
      <li>
        <label for="idPassword">Mot de passe</label>
        <input class="input" id="idPassword" type="password" name="password">
      </li>
      <li>
        <button class="boutonVert" type="submit">se connecter</button>
      </li>
      <li>
        <label for="idSouvenir">Se souvenir de moi</label>
        <input class="input" id="idSouvenir" type="checkbox" name="remember-me">
      </li>
      <li>
        <a th:href="@{/MonProfil/MotDePasseOublie}">Mot de passe oublié</a>
      </li>
    </ul>
  </form>
</main>
</html>