<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout::frag_layout(content=~{::main})}">
<main class="page-login">

    <!-- Message de succès ou d'erreur ----------------------------------------------------------------------------->
  <div th:if="${!#strings.isEmpty(successMessage)}" class="success-message orange" style="background-color: var(--couleur-vert-vif);">
    <span th:text="${successMessage}"></span>
  </div>

  <div th:if="${!#strings.isEmpty(errorMessage)}" class="success-message" style="background-color: #f44336;">
    <span th:text="${errorMessage}"></span>
  </div>


  <form th:action="@{/login}"
        method="post">
    <ul class="flex-out">
      <li>
        <label for="idUsername">Identifiant</label>
        <input class="input" id="idUsername" type="text" name="username">
      </li>
      <li>
        <label for="idPassword">Mot de passe</label>
        <input class="input" id="idPassword" type="password" name="password">
      </li>
      <li>
        <button class="boutonVert" type="submit">se connecter</button>
      </li>
      <li>
        <label for="idSouvenir">Se souvenir de moi</label>
        <input class="input" id="idSouvenir" type="checkbox" name="remember-me">
      </li>
      <li>
        <a th:href="@{/MonProfil/MotDePasseOublie}">Mot de passe oublié</a>
      </li>
    </ul>
  </form>
</main>
</html>