<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout :: frag_layout(content=~{::main})}">
<main class="page-profil">

    <div th:if="${!#strings.isEmpty(successMessage)}" class="success-message orange" style="background-color: var(--couleur-vert-vif);">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${!#strings.isEmpty(errorMessage)}" class="success-message" style="background-color: #f44336;">
        <span th:text="${errorMessage}"></span>
    </div>

    <h2>Mon Profil</h2>
    <div class="profil-grid">
        <div class="profil-item">
            <span class="profil-label">Pseudo</span>
            <span class="profil-value" th:text="${utilisateur.pseudo}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Nom</span>
            <span class="profil-value" th:text="${utilisateur.nom}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Prénom</span>
            <span class="profil-value" th:text="${utilisateur.prenom}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Email</span>
            <span class="profil-value" th:text="${utilisateur.email}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Téléphone</span>
            <span class="profil-value" th:text="${utilisateur.telephone}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Rue</span>
            <span class="profil-value" th:text="${utilisateur.rue}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Code postal</span>
            <span class="profil-value" th:text="${utilisateur.code_postal}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Ville</span>
            <span class="profil-value" th:text="${utilisateur.ville}"></span>
        </div>
        <div class="profil-item">
            <span class="profil-label">Crédit</span>
            <span class="profil-value" th:text="${utilisateur.credit} + ' 🥕'"></span>
        </div>

        <div class="profil-item">
            <button class="boutonOrange" type="button"><a th:href="@{/MonProfil/update}">Modifier</a></button>
            <button class="boutonVert" type="button"><a th:href="@{/MonProfil/addCredit}">+ de crédits</a></button>
        </div>
    </div>
</main>
</html>